@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Prompt", sans-serif;
}
aside {
  background-color: linear-gradient(
    90deg,
    rgba(73, 161, 57, 1) 10%,
    rgba(0, 51, 9, 1) 100%
  );
  width: 10vw;
  padding: 0 10px;
}
footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 15px 0;
  z-index: 999;
  color: white;
  text-align: center;
}
#popup {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#popuproom {
  position: absolute;
  right: 240px;
  top: 40%;
}
.content {
  box-shadow: 15px 13px 20px #666666;
}
#popup div , #popuproom div {
  max-width: 530px;
  padding: 20px;
}
.contentPopup {
  background-color: #fff;
  border-radius: 10px;
  position: absolute;
  z-index: 999;
  box-shadow: 8px 9px 20px #38383879;
}

section {
  height: auto;
  width: 100%;
}

footer {
  min-height: 20px;
  width: 100%;
  padding: 0;
}

.footerBox {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  width: 100%;
  padding: 1px 0;
}

/* ข้อความเลื่อน */
#cross {
  display: inline-block;
  padding-left: 100%;
  animation: scroll 20s linear infinite;
  font-size: 1.5rem;
  color: white;
  display: flex;
  gap: 40px;
}

/* การเคลื่อนไหว */
@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}